/* *######### General Styles ##########*/
*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   font-family: "Lato", sans-serif;
}

ul {
   list-style-type: none;
}

a {
   text-decoration: none;
   color: inherit;
}

img {
   display: block;
   width: 100%;
}

p {
   margin: 0;
}

/* ~#########      Start   reload page    ##########*/
#reload {
   &::before {
      content: "";
      position: absolute;
      background-color: white;
      opacity: 0.8;
      top: 0;
      left: 0;
      right: 0;
      bottom: 100%;
      z-index: 999;
      animation: trans-bottom 0.5s alternate ease-in;
   }
   &::after {
      content: "";
      position: absolute;
      background-color: white;
      opacity: 0.8;
      top: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 999;
      animation: trans-top 0.5s alternate ease-out;
   }
}
@keyframes trans-top {
   0% {
      top: 50%;
   }
   100% {
      top: 100%;
   }
}
@keyframes trans-bottom {
   0% {
      bottom: 50%;
   }
   100% {
      bottom: 100%;
   }
}
/** #### home */

#home {
   & {
      background: linear-gradient(rgba(0, 0, 0, 0.6) 0% 100%),
         url(../images/bg.jpg);
      height: 100vh;
      width: 100%;
      background-position: 0px 0px;
      background-size: cover;
   }
   .center {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .container .contain {
      background-color: whitesmoke;
      box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
      border-radius: 0 0 50px 0;
      display: flex;
   }

   .img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50% -50%);
   }
   .container .pass-info {
      width: 300px;
      height: 150px;
      background: linear-gradient(
         45deg,
         rgb(232, 209, 168),
         rgb(253, 197, 198),
         rgb(255, 117, 143)
      );
      position: absolute;
      top: 60%;
      left: 50%;
      border-radius: 25px;
      transform: translate(-50%, -50%);
      /* display: none; */
   }
   .container .pass-info i {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
   }
   .img::before {
      content: "";
      position: absolute;
      height: 15px;
      width: 15px;
      background-color: white;
      border-radius: 50%;
      top: 10px;
      left: 40px;
   }
   .img::after {
      content: "Dont forget to pray for our brothers in Palastine";
      position: absolute;
      background-color: white;
      border-radius: 50%;
      top: -90px;
      left: -10px;
      padding: 30px;
      transform: translate(-80%);
      font-weight: 900;
      text-align: center;
   }
   .container .contain .bg-custom {
      background: linear-gradient(
         45deg,
         rgba(232, 209, 168, 0.7),
         rgba(253, 197, 198, 0.7),
         rgba(255, 117, 143, 0.7)
      );
      border-radius: 0 0 250px 0;
      padding: 70px 100px 70px 100px;
   }
   .container .contain .btn-outline-danger {
      --bs-btn-color: #673bb7;
      --bs-btn-border-color: #673bb7;
      --bs-btn-hover-bg: #673bb7;
      --bs-btn-hover-border-color: #673bb7;
      --bs-btn-active-bg: #673bb7;
      --bs-btn-active-border-color: #673bb7;
      --bs-btn-disabled-color: #673bb7;
      --bs-btn-disabled-border-color: #673bb7;
   }
   .container .contain .btn-outline-info {
      --bs-btn-color: #ea1e63;
      --bs-btn-border-color: #ea1e63;
      --bs-btn-hover-bg: #ea1e63;
      --bs-btn-hover-border-color: #ea1e63;
      --bs-btn-active-bg: #ea1e63;
      --bs-btn-active-border-color: #ea1e63;
      --bs-btn-disabled-color: #ea1e63;
      --bs-btn-disabled-border-color: #ea1e63;
      --bs-btn-hover-color: #fff;
   }
   .btn-outline-dark {
      --bs-btn-color: #ea1e63;
      --bs-btn-border-color: #eee;
      --bs-btn-hover-bg: #ea1e63;
      --bs-btn-hover-border-color: #ea1e63;
      --bs-btn-active-bg: #ea1e63;
      --bs-btn-active-border-color: #ea1e63;
      --bs-btn-disabled-color: #ea1e63;
      --bs-btn-disabled-border-color: #ea1e63;
      --bs-btn-hover-color: #fff;
      color: white;
   }
   .log-out {
      position: absolute;
      top: 10px;
      right: 10px;
   }
   .form-control:focus {
      color: var(--bs-body-color);
      background-color: var(--bs-body-bg);
      border-color: rgba(255, 117, 143, 0.7);
      outline: 0;
      box-shadow: 0 0 0 0.1rem rgba(255, 117, 143, 0.7);
   }
   .pass {
      transition: color 0.5s;
   }
   .pass:hover {
      color: #ea1e63;
   }
}
